---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 not found" description="nothing to see here...">
  <div class="text-center">
    <h1 class="my-4">404 Not Found</h1>
    <a
      href="/"
      class="border m-4 p-2 rounded-xl bg-dark dark:bg-neutral-900/70 text-light hover:text-light/75 border-cyan-100 dark:border-pink-300 transition-colors"
      >Go home</a
    >
  </div>
</Layout>
