---
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.astro";
import Timeline, { type history } from "../components/Timeline.astro";
import Avatar from "../components/Avatar.astro";

const historyData: history[] = [
  {
    title: "誕生",
    description: "なつぐみとして、インターネットの世界へ。",
    at: new Date(1753315200000),
  },
  {
    title: "改名",
    description: "なつぐもになった。1文字変わっただけ。",
    at: new Date(1763856000000),
  },
  {
    title: "VRChatを始める",
    description: "Quest 2を買って、無事沼る。",
    at: new Date(1769558400000),
  },
  {
    title: "改変に手を出す",
    description: "ネメシスを購入して、色をいじくる。",
    at: new Date(1770854400000),
  },
  {
    title: "Guiltyなイチゴちゃんをつくる",
    description: "罪な女になるために...",
    at: new Date(1772668800000),
  },
  {
    title: "プロフをつくる",
    description: "このページのこと。",
    at: new Date(1773446400000),
  },
];
---

<Layout title="なつぐも" description="Hello! I'm na2gumo (aka なつぐも)">
  <Box>
    <Avatar />
  </Box>
  <Box>
    <h2>History</h2>
    <Timeline history={historyData} />
  </Box>
</Layout>
