---
import Box from "../components/Box.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="memories" description="memories">
  <Box>
    <h2>My memories...</h2>
    <p class="text-red-500">Coming soon!</p>
  </Box>
</Layout>
