<div class="flex top-0 h-min text-xl wrap-break-word break-keep mt-4">
  <header
    class="flex w-full h-min md:h-14 py-4 px-6 flex-col md:flex-row justify-between items-center text-white shrink-0 bg-dark rounded-2xl border-2 border-cyan-100 dark:border-pink-300 dark:bg-neutral-900/70 transition-colors"
  >
    <h2>
      <a class="no-underline text-inherit text-2xl font-semibold" href="/"> なつぐも </a>
    </h2>
    <ul class="list-none flex gap-4">
      <li>
        <a class="no-underline text-inherit" href="/memories"> memories </a>
      </li>
      <li>
        <a class="no-underline text-inherit" href="/contacts"> contacts </a>
      </li>
    </ul>
  </header>
</div>
