---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <script is:inline>
      const setTheme = () => {
        if (sessionStorage.getItem("darkmode") === "true") {
          document.documentElement.classList.toggle("dark");
        }
      };
      document.addEventListener("astro:after-swap", () => setTheme());
      setTheme();
    </script>
  </head>

  <body
    class="w-full md:w-4/5 lg:w-3/8 md:mx-auto text-(--text-color) bg-(--primary-color) dark:text-light dark:bg-[#313030] transition-colors"
  >
    <main class="lg:mx-0 md:mx-4 mx-2">
      <Header />
      <slot />
    </main>
  </body>
</html>
